.todo-item {
  border: 1px solid black;
  width: 300px;
  height: 30px;
  text-align: left;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.todo-item .text {
  width: 90%;
}
.todo-item .text-done {
  width: 90%;
  text-decoration-line: line-through;
}
